@using SearchEngine.Core.Models
@model IEnumerable<Result>
@{
    ViewBag.Title = "Internet Search Page";
}

@Html.ActionLink("Search in DataBase", "DbLookup", null, new { @class = "btn btn-primary" })
<hr>
@using (Html.BeginForm("WebSearch", "Home", FormMethod.Post))
{
    <p>
        <div>
            <input type="text" name="searchString" class="col-md-10 form-control">
            <input type="submit" value="Internet Search" class="btn btn-success " />
        </div>
    </p>
}
@if (Model != null)
{
    <p>
    </p>
    foreach (var m in Model)
    {
        <div class="media">
            <div class="media-body">
                <h2 class="media-heading"><a href="@m.Link" target="_blank">@m.Title</a></h2>
                <p>@m.Snippet</p>
            </div>
            @if (!String.IsNullOrEmpty(m.Source))
            {
                <h6>
                    Source: <a href="@m.Source">@m.Source</a>
                </h6>
            }
        </div>
    }
}